body{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background: rgba(98, 167, 207, 0.726);
}

.conteiner{
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

header{
    height: 40px;
    border-bottom: 1px solid rgb(156, 149, 149);
    position: relative;
    padding: 0 30px;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
}

input{
    padding: 7px 5px;
}

.height{
    text-align: end;
}

.weight{
    text-align: end;
}

button {
    border: none;
    border-bottom: 2px solid black;
    color: #fff;
    background-color: rgb(98, 167, 207);
    border-radius: 15px;
    height: 30px;
    padding: 0 20px;
    font-size: 17px;
    cursor: pointer;  
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    display: grid;
}

label{
    padding: 5px;
}

p{
    margin: 8px 0;
}